body {
  /* font-family: "Amatic SC", sans-serif; */

}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
a:visited {
  color: #6a6b54;
}

/* ---------------------- NAVBVAR ---------------------- */
.nav-container {
  /* border: 1px solid red; */
  background-color: #e4cfc7;
  padding: 10px;
}

.logo-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.nav-logo {
  /* border: 1px solid orange; */
  font-family: "Amatic SC", sans-serif;
  color: #6a6b54;
  padding: 10px 0;
  font-size: 3rem;
}
.nav-logo:hover {
  color: white;
}

.nav-links {
  /* border: 1px solid red; */
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 50%;
}


/* ---------------------- MAIN ---------------------- */

.main-container {
  /* background-color: #f4eeed; */
  /* margin: 0 10px; */
  padding: 0 20px;
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
}