body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #6a6b54;
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
a:visited {
  color: #6a6b54;
}

/* ---------------------- NAVBVAR ---------------------- */
.nav-container {
  /* border: 1px solid red; */
  background-color: #e4cfc7;
  padding: 10px;
}

.logo-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.nav-logo {
  /* border: 1px solid orange; */
  font-family: "Amatic SC", sans-serif;
  color: #6a6b54;
  padding: 10px 0;
  font-size: 3rem;
}
.nav-logo:hover {
  color: white;
}

.nav-links {
  /* border: 1px solid red; */
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 50%;
}


/* ---------------------- MAIN ---------------------- */

.main-container {
  /* background-color: #f4eeed; */
  margin-bottom: 20px;
  padding: 0 20px;
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
}


/* ---------------------- COMPANY ITEM ---------------------- */

.company-container {
  /* border: 1px solid red; */
  columns: 3;
  margin: 0 auto;
}

.info-item-container {
  cursor: pointer;
  border-radius: 4px;
  background-color:#f4eeed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  padding: 5px 10px;
  flex: 1;

  -webkit-column-break-inside: avoid-column; 
  page-break-inside: avoid-column;
  break-inside: avoid-column;
}
.info-item-container:nth-child(2n) {
  background-color: #e9dfca;
}
.info-item-container:nth-child(3n) {
  background-color: #caccb1;
}
.info-item-container:hover {
  box-shadow: -5px 5px 2px #dadada;
  transition-duration: 0.3s;
}

.company-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.sub-nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20px auto;
}


/* ---------------------- COMPANY PAGE ---------------------- */

.company-page-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-family: "Amatic SC", sans-serif;;
  font-size: 3rem;
  border: 1px solid #6a6b54;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.company-img {
  width: 80vw;
  height: 30vw;
  object-fit: cover;
}

.company-page-container > p {
  
  text-align: center;
}

/* ---------------------- FOOTER ---------------------- */

.footer {
  border: 1px solid red;
  
  width: 100%;
}



/* ---------------------- MEDIA QUERY ---------------------- */

@media screen and (max-width: 800px) {
  .nav-container {
    display: flex;
    align-items: center;
  }

  .nav-links {
    font-size: 1.5rem;
    margin-right: 0;
    width: 60%;
  }

  .company-container {
    columns: 1;
  }
}