#root {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #6a6b54;
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
a:visited {
  color: #6a6b54;
}

hr {
  border-top: 1px solid #6a6b54;
}

/* ---------------------- NAVBVAR ---------------------- */
.nav-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  background-color: #e4cfc7;
  padding: 10px;
}

.logo-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Amatic SC", sans-serif;
  color: #6a6b54;
  padding: 10px 0;
  font-size: 3rem;
}

.nav-logo:hover {
  color: white;
}

.nav-links {
  /* border: 1px solid red; */
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 50%;
}


/* ---------------------- MAIN ---------------------- */

.main-container {
  /* background-color: #f4eeed; */
  padding: 0 20px;
  padding-bottom: 8rem;
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #556b2f;
}


/* ---------------------- COMPANY ITEM ---------------------- */

.company-container {
  /* border: 1px solid red; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  margin: 0 auto;
  columns: 3;
}

.info-item-container {
  cursor: pointer;
  border-radius: 4px;
  background-color:#f4eeed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  padding: 15px 10px;
  /* width: 30%; */

  margin-bottom: 15px;
  -webkit-column-break-inside: avoid-column;
  page-break-inside: avoid-column;
  break-inside: avoid-column;
}
.info-item-container:nth-child(2n) {
  background-color: #e9dfca;
}
.info-item-container:nth-child(3n) {
  background-color: #caccb1;
}
/* .info-item-container:nth-child(5n) {
  background-color: #e4cfc7;
} */
.info-item-container:hover {
  box-shadow: -5px 5px 2px #dadada;
  transition-duration: 0.3s;
}

.company-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 60%;
}

.sub-nav-btn {
  cursor: pointer;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0);
  background: none;
  padding: 10px 25px;
  font-family: "Amatic SC", sans-serif;
  font-size: x-large;
}
.sub-nav-btn:hover {
  border: 1px solid #6a6b54;
  box-shadow: 3px 3px 2px #dadada;
  transition-duration: 0.3s;
}
.sub-nav-btn:focus {
  outline: none;
  border: 1px solid #6a6b54;
}


/* ---------------------- COMPANY PAGE ---------------------- */

.company-page-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-family: "Amatic SC", sans-serif;;
  font-size: 3rem;
  border: 1px solid #6a6b54;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.company-img {
  width: 80vw;
  height: 30vw;
  object-fit: cover;
}

.company-page-container > p {

  text-align: center;
}

/* ---------------------- FOOTER ---------------------- */

.footer {
  background-color: #e4cfc7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding: 15px 0;
  text-align: center;
}



/* ---------------------- MEDIA QUERY ---------------------- */

@media screen and (max-width: 800px) {
  .nav-container {
    display: flex;
    align-items: center;
  }

  .nav-links {
    font-size: 1.5rem;
    margin-right: 0;
    width: 60%;
  }

  .company-container {
    display: block;
    columns: 1;
  }

  .info-item-container {
    margin: 20px auto;
    width: 80%;
  }
}

@media screen and (max-width: 800px) {

}